NEXT_PUBLIC_APP_URL=http://localhost:3000

BETTER_AUTH_SECRET=replace-with-a-long-random-secret-at-least-32-chars
DATABASE_URL=postgresql://postgres:postgres@localhost:28937/mechowarts

R2_BUCKET=<YOUR_R2_BUCKET_NAME>
R2_PUBLIC_URL=<YOUR_R2_PUBLIC_URL>

R2_ACCOUNT_ID=<YOUR_R2_ACCOUNT_ID>
R2_ACCESS_KEY_ID=<YOUR_R2_ACCESS_KEY_ID>
R2_SECRET_ACCESS_KEY=<YOUR_R2_SECRET_ACCESS_KEY>

