NEXT_PUBLIC_APP_URL=http://localhost:3000

DATABASE_URL=postgresql://postgres:postgres@localhost:28937/mechowarts
JWT_SECRET=<YOUR_JWT_SECRET>
JWT_REGISTER_SECRET=<YOUR_JWT_REGISTER_SECRET>
JWT_RESET_PASSWORD_SECRET=<YOUR_JWT_RESET_PASSWORD_SECRET>

R2_BUCKET=<YOUR_R2_BUCKET_NAME>
R2_PUBLIC_URL=<YOUR_R2_PUBLIC_URL>

R2_ACCOUNT_ID=<YOUR_R2_ACCOUNT_ID>
R2_ACCESS_KEY_ID=<YOUR_R2_ACCESS_KEY_ID>
R2_SECRET_ACCESS_KEY=<YOUR_R2_SECRET_ACCESS_KEY>

GMAIL_ADDRESS=your-email@gmail.com
GMAIL_PASSWORD=your-app-password
